<h1>Hi <%= name %>,</h1>

<p>You have been invited to <%= organiser.fname %>'s event <strong><%= event.name %></strong> on <%= event.startDate %>.</p>

<p>In order to confirm or sign up to the events app please visit the <a href= "http://event-app-lncd.herokuapp.com/event/<%= event._id %>">Event-App</a> Website </p>

<p>Have fun!</p>

<p>Your Event-App Team</p>